<!DOCTYPE html>
<html lang="en">
  <head>
    <neta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <%= render 'layouts/sidebar' %>
        <div class="span9">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div><!--/flud-container-->
  </body>
</html>